__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific stuff goes here
conf/config.json

# A script which we use on our own infastructure to pull and restart the flask server. Remove when going public!!!11one
pull-and-restart.sh
