
<!DOCTYPE html>
<html lang="nl">
<head>

  <!-- 
 .d88b.  db    db d8888b. d888888b d8b   db  d888b  d88888b d8b   db
.8P  Y8. 88    88 88  `8D   `88'   888o  88 88' Y8b 88'     888o  88
88    88 Y8    8P 88   88    88    88V8o 88 88      88ooooo 88V8o 88
88    88 `8b  d8' 88   88    88    88 V8o88 88  ooo 88~~~~~ 88 V8o88
`8b  d8'  `8bd8'  88  .8D   .88.   88  V888 88. ~8~ 88.     88  V888
 `Y88P'     YP    Y8888D' Y888888P VP   V8P  Y888P  Y88888P VP   V8P
                                                                    
                                                                     -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Spoor APP</title>

  <meta name="keywords" content="ovdingen, treinviewer, ns treinen, realtime ov, ov, openbaarvervoer, openbaar vervoer">
  <meta name="description" content="Voor al het openbaar vervoer in Nederland">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
  <style>

  label {
    font-size: 0.8rem;
    color: #ffffff;
  }

  textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #ffffff;
  }

  .input-field > label {
    color: #ffffff;
  }

  textarea.materialize-textarea {
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
  }

  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffffff;
    -webkit-box-shadow: 0 1px 0 0 #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
  }

  </style>

  <!-- Google ads, de server betaald helaas zichzelf nog niet.
    Binnenkort is het mogelijk om een een (heel) klein bedrag te doneren en een donateurs account te krijgen zonder advertenties.
    Uiteraard doen wij er ook niet moeilijk over als je onze advertenties blokkeert. Wij snappen waarom en proberen uiteraard de ervaring niet te bederven.-->
  <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8909329757157722",
            enable_page_level_ads: true
       });
  </script> -->
</head>
<body onload="getLocation()">
  
  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">spoor.app</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
        </ul>

        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <ul id="nav-mobile" class="sidenav">
    <li><a href="/">Home</a></li>
  </ul>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center white-text">Hello spoor.app!</h1>
        <div class="row center">
            <div class="row">
              <div class="input-field col s12">
                <input id="station1" type="text" name="station">
                  <label for="station1">Station</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light" onclick="gotoStation()">Verzend</button>
        </div>

      </div>
    </div>
    <div class="parallax"><img src="/../static/img/achtergrond.jpg" alt="sng" style="filter:grayscale(75%);"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Dichtsbijzijnde Stations bij jouw locatie:</h4>
          <div id="geo-container"></div>
          <ul class="collection">
            <div class="stations">
              <p class="center-align light">Spoor.app is momenteel je locatie aan het opvragen.</p>
              <div class="progress">
                <div class="indeterminate"></div>
              </div>
              <p class="center-align light">Druk op toestaan indien je wordt gevraagd om je locatie te delen. Anders werkt deze functie niet.</p>
            </div>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Example requests:</h4>
          <ul>
              <li><a href="/train/today/7872">current info for train 7872</a></li>
              <li><a href="/drgl/2018-05-04/7872">schedule for train 7872</a></li>
              <li><a href="/station/ASB">departures &amp; OV-fiets availability for station Amsterdam ArenA</a></li>
              <li><a href="/ovfiets/amf001">OV-fiets pickup point amf001</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
      Made with <i class="fas fa-heart red-text"></i> by ovdingen
      <div class="right">
        <a class="white-text" href="https://github.com/ovdingen/spoor.app/blob/master/LICENSE.md" target="blank">GPL-3.0</a><!--  | <a class="white-text" href="https://ovdingen.nl/afbeeldingscredits.txt" target="blank">afbeeldingscredits</a> -->
      </div>
      </div>
    </div>
  </footer>


  <!-- Locatieopvraag+ Output-->
  <script>
  var x = document.getElementById("geo-container");

  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.watchPosition(showPosition);
      } else { 
          x.innerHTML = "Je browser ondersteund geen geolocatie.";}
      }
      
  function showPosition(position) {
    getStopData(position.coords.latitude, position.coords.longitude)
      x.innerHTML="<p class='center-align light'>Jouw locatie: Lat: " + position.coords.latitude + " Lon: " + position.coords.longitude; + "</p>"
  }
  function gotoStation() {
    station = escape(document.getElementById("station1").value);
    window.location.href = '/station/' + station;
  }
  </script>
  
  <!-- Scripts-->
  <script src="static/js/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
  <script src="static/js/custom.js"></script>


  <!-- Locatie-->
  <script src="static/js/dichtbij.js"></script>

  </body>
  <!-- 
  Nee, bedankt. Ik heb geen fijne dag nodig!!!1
  -->
</html>

