
<!DOCTYPE html>
<html lang="nl">
<head>

  <!-- 
 .d88b.  db    db d8888b. d888888b d8b   db  d888b  d88888b d8b   db
.8P  Y8. 88    88 88  `8D   `88'   888o  88 88' Y8b 88'     888o  88
88    88 Y8    8P 88   88    88    88V8o 88 88      88ooooo 88V8o 88
88    88 `8b  d8' 88   88    88    88 V8o88 88  ooo 88~~~~~ 88 V8o88
`8b  d8'  `8bd8'  88  .8D   .88.   88  V888 88. ~8~ 88.     88  V888
 `Y88P'     YP    Y8888D' Y888888P VP   V8P  Y888P  Y88888P VP   V8P
                                                                    
                                                                     -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Spoor APP</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">

  <style>
    .tabs .indicator {
        background-color: #009688;
    }

    .pto-logo {
        max-height: 2em;
    }
  </style>

  <!-- Google ads, de server betaald helaas zichzelf nog niet.
    Binnenkort is het mogelijk om een een (heel) klein bedrag te doneren en een donateurs account te krijgen zonder advertenties.
    Uiteraard doen wij er ook niet moeilijk over als je onze advertenties blokkeert. Wij snappen waarom en proberen uiteraard de ervaring niet te bederven.-->
  <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8909329757157722",
            enable_page_level_ads: true
       });
  </script> -->
</head>
<body onload="getLocation()">
  
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">spoor.app</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">[Stationsnaam]</h1>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/../static/img/achtergrond.jpg" alt="sng" style="filter:grayscale(50%);"></div>
  </div>

  <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a class="teal-text avtive" href="#vertrek">Vertrektijden</a></li>
          <li class="tab col s6"><a class="teal-text" href="#fiets">OV-fiets</a></li>
        </ul>
      </div>
      <div id="vertrek" class="col s12">

        <ul class="collection">
          <li class="collection-item avatar">
            <img src="/../static/img/pto-logos/NS.svg" alt="" class="circle">
            <span class="title">Stoptrein richting Roermond</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        </ul>
                  

        {% for vertrek in station %}
        <div class="vertrek">
            <a href="/train/today/{{vertrek.treinNr}}">{{vertrek.soort}} ({{vertrek.soortAfk}}) richting {{vertrek.bestemming}}</a>
            {% if vertrek.via %}
            via {{vertrek.via}} 
            {% endif %}

            {% if vertrek.spoor %}
            vanaf spoor {{vertrek.spoor}}
            {% endif %}
            {% for opmerking in vertrek.opmerkingen %}
                <br><b>Opmerking: {{ opmerking }}</b>
            {% endfor %}

            {% for tip in vertrek.tips %}
                <i>Reistip: {{ tip }}</i><br>
            {% endfor %}

            {% if vertrek.sprWijziging %}
            Let op, vertrekt van spoor {{vertrek.spoor}}
            {% endif %}
            <br>
            Vervoerder: {{ vertrek.vervoerder }}
            <br><br>
        </div>
        {% endfor %}


      </div>
      <div id="fiets" class="col s12">

        {% if ovfiets %}
            {% for name, pup in ovfiets.iteritems() %}
                Ophaalpunt <a href="/ovfiets/{{name}}">{{ pup.description }}</a>: {{ pup.rentalbikes }} fietsen beschikbaar<br>
            {% endfor %}
        {% else %}
            <p>geen ovfiets</p>
        {% endif %}


      </div>
    </div>

  <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Pagina naam</h4>
            <p class="left-align light">Tekst</p>
          </div>
        </div>

      </div>
    </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
      Made with <i class="fas fa-heart red-text"></i> by ovdingen
      <div class="right">
        <a class="white-text" href="https://github.com/ovdingen/website/blob/master/LICENSE" target="blank">GPL-3.0</a><!--  | <a class="white-text" href="https://ovdingen.nl/afbeeldingscredits.txt" target="blank">afbeeldingscredits</a> -->
      </div>
      </div>
    </div>
  </footer>
  
  <!-- Scripts-->
  <script src="/../static/js/jquery-2.1.1.min.js"></script>
  <script src="/../static/js/materialize.js"></script>
  <script src="/../static/js/init.js"></script>
  <script src="/../static/js/custom.js"></script>

  <script>
    $(document).ready(function(){
      $('.tabs').tabs();
    });
    </script>

  </body>
  <!-- 
  Nee, bedankt. Ik heb geen fijne dag nodig!!!1
  -->
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
