<!DOCTYPE html>
<html lang="nl">
<head>

  <!-- 
 .d88b.  db    db d8888b. d888888b d8b   db  d888b  d88888b d8b   db
.8P  Y8. 88    88 88  `8D   `88'   888o  88 88' Y8b 88'     888o  88
88    88 Y8    8P 88   88    88    88V8o 88 88      88ooooo 88V8o 88
88    88 `8b  d8' 88   88    88    88 V8o88 88  ooo 88~~~~~ 88 V8o88
`8b  d8'  `8bd8'  88  .8D   .88.   88  V888 88. ~8~ 88.     88  V888
 `Y88P'     YP    Y8888D' Y888888P VP   V8P  Y888P  Y88888P VP   V8P
                                                                    
                                                                     -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Spoor APP</title>

  <meta name="theme-color" content="#009688"/>
  <link rel="manifest" href="/../static/manifest.json">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">

  <style>
    .parallax-container {
      min-height: 250px;
      height: 250px;
    }

    .tabs .indicator {
        background-color: #009688;
    }

    .pto-logo {
        max-height: 2em;
    }

    @media (min-width: 601px) {
      .card-vertrek {
        min-height: 18em;
        max-height: 18em;
      }
    }

  </style>

  <!-- Google ads, de server betaald helaas zichzelf nog niet.
    Binnenkort is het mogelijk om een een (heel) klein bedrag te doneren en een donateurs account te krijgen zonder advertenties.
    Uiteraard doen wij er ook niet moeilijk over als je onze advertenties blokkeert. Wij snappen waarom en proberen uiteraard de ervaring niet te bederven.-->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8909329757157722",
            enable_page_level_ads: true
       });
  </script>

  <link rel="stylesheet" type="text/css" href="/../static/css/cookieconsent.min.css" />
  <script src="/../static/js/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#eaf7f7",
        "text": "#5c7291"
      },
      "button": {
        "background": "#009688"
      }
    },
    "position": "bottom-right",
    "content": {
      "message": "spoor.app maakt gebruik van cookies om jou de beste ervaring van de webapp te geven.",
      "link": "Lees meer"
    }
  })});
  </script>
</head>
<body onload="startLoop(60000, '{{ meta.code }}')">
  
  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">spoor.app</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
        </ul>

        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <ul id="nav-mobile" class="sidenav">
    <li><a href="/">Home</a></li>
  </ul>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center white-text">{{ meta.name_long }}</h1>

      </div>
    </div>
    <div class="parallax"><img src="/../static/img/achtergrond.jpg" alt="sng" style="filter:grayscale(50%);"></div>
  </div>

  <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a class="teal-text avtive" href="#vertrek">Vertrektijden</a></li>
          <li class="tab col s6"><a class="teal-text" href="#fiets">OV-fiets</a></li>
        </ul>
      </div>
      <div id="vertrek" class="col s12">

        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Vertrektijden</h4>

            <div class="row" id="stationscontainer">
              <div class="progress">
                  <div class="indeterminate"></div>
              </div>
            </div> 

          </div>
        </div>

      </div>

      <div id="fiets" class="col s12">

        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>OV-fiets</h4>

            <ul class="collection">
              {% if ovfiets %}
                {% for name, pup in ovfiets.iteritems() %}
                  <li class="collection-item center-align"><a href="/ovfiets/{{name}}">Ophaalpunt {{ pup.description }}:<br>
                  {{ pup.rentalbikes }} fietsen beschikbaar</a></li>
                {% endfor %}
            </ul>

            {% else %}
                <p class="left-align light">geen ovfiets</p>
            {% endif %}

          </div>
        </div>

      </div>
    </div>

    <div class="fixed-action-btn">
      <!-- Tijdelijke pagina refresh-->
      <a class="btn-floating btn-large" onclick="getStopData(currentStation)">
        <i class="large material-icons">refresh</i>
      </a>
    </div>

    <footer class="page-footer teal">
      <div class="footer-copyright">
        <div class="container white-text">
        Made with <i class="fas fa-heart red-text"></i> by <a class="white-text" href="https://ovdingen.nl" target="blank">ovdingen</a>
        <div class="right">
          <div class="hide-on-small-only">
            <a class="white-text" href="https://github.com/ovdingen/spoor.app/blob/master/LICENSE.md" target="blank">GPL-3.0</a> | {{ app_config.name }} V{{ app_config.version }}
          </div>
          <div class="hide-on-med-and-up">
            <a class="white-text" href="https://github.com/ovdingen/spoor.app/blob/master/LICENSE.md" target="blank">GPL-3.0</a> | V{{ app_config.version }}
          </div>
        </div>
        </div>
      </div>
    </footer>
  
  <!-- Scripts-->
  <script src="/../static/js/jquery-2.1.1.min.js"></script>
  <script src="/../static/js/materialize.js"></script>
  <script src="/../static/js/init.js"></script>
  <script src="/../static/js/custom.js"></script>
  <script type="text/javascript">
  function getCurrentStationCode() {
    return "{{ meta.code }}";
  }
  </script>
  <script src="/static/js/station.js"></script>

  <!-- Serviceworker-->
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/../static/js/sw.js').then(function(registration) {
          // Registration was successful
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          // registration failed :(
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>

  <script>
    $(document).ready(function(){
      $('.tabs').tabs();
    });

    $(document).ready(function(){
      $('.parallax').parallax();
    });
    </script>

  </body>
  <!-- 
  Nee, bedankt. Ik heb geen fijne dag nodig!!!1
  -->
</html>
