<!DOCTYPE html>
<html lang="nl">
<head>

  <!-- 
 .d88b.  db    db d8888b. d888888b d8b   db  d888b  d88888b d8b   db
.8P  Y8. 88    88 88  `8D   `88'   888o  88 88' Y8b 88'     888o  88
88    88 Y8    8P 88   88    88    88V8o 88 88      88ooooo 88V8o 88
88    88 `8b  d8' 88   88    88    88 V8o88 88  ooo 88~~~~~ 88 V8o88
`8b  d8'  `8bd8'  88  .8D   .88.   88  V888 88. ~8~ 88.     88  V888
 `Y88P'     YP    Y8888D' Y888888P VP   V8P  Y888P  Y88888P VP   V8P
                                                                    
                                                                     -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Spoor APP</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">

  <style>
    .parallax-container {
      min-height: 250px;
      height: 250px;
    }

    .tabs .indicator {
        background-color: #009688;
    }

    .pto-logo {
        max-height: 2em;
    }

  </style>

  <!-- Google ads, de server betaald helaas zichzelf nog niet.
    Binnenkort is het mogelijk om een een (heel) klein bedrag te doneren en een donateurs account te krijgen zonder advertenties.
    Uiteraard doen wij er ook niet moeilijk over als je onze advertenties blokkeert. Wij snappen waarom en proberen uiteraard de ervaring niet te bederven.-->
  <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8909329757157722",
            enable_page_level_ads: true
       });
  </script> -->
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">spoor.app</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h2 class="header center white-text">Dienstregeling voor<br>{{trein.soortAfk}} {{trein.id}}</h2>
        <div class="center-align">
          <button class="btn waves-effect waves-light" onclick="">Herlaad
            <i class="material-icons right">refresh</i>
          </button>
        </div>

      </div>
    </div>
    <!-- TODO: treintje als achtergrond?-->
    <div class="parallax"><img src="/../static/img/achtergrond.jpg" alt="sng" style="filter:grayscale(50%);"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Richting {{trein.bestemming}} via {{trein.via}}</h4>
            {%for vleugel in trein.vleugels%}
              {%for mat in vleugel.mat%}
                <!-- TODO: Afbeelding van treintype?-->
                <p class="center-align light">Type: {{mat.0}} Bestemming: {{mat.1}} Nr: {{mat.2}}</p>
              {%endfor%}
              {% if trein.opgeheven == true %}
                <h5 class="red-text">LET OP! Trein rijdt niet.</h5>
                {% else %}
              <p class="center-align light">
                    {%for stop in vleugel.stopstations%}
                      <ul class="collection with-header">
                        <div class="stop">
                            <li class="collection-header"><h5>{{stop.naam}} | Spoor: {% if stop.aankomstspoor == None %}{{ stop.vertrekspoor }}{% else %}{{ stop.aankomstspoor }}{% endif%}</h5></li>
                            {% if trein.opgeheven %}
                              <li class="collection-item"><b class="red-text"><i>LET OP! Vertrekt niet vanaf dit station</i></b></li>
                            {% endif %}
                            {% if stop.aankomst %}
                              <li class="collection-item">Aankomst om {{ stop.aankomst }} {% if stop.vertragingAankomst == 0 %}{% else %}<b class="red-text">+{{ stop.vertragingAankomst }}</b>{% endif%}</li>
                            {%endif%}
                            {% if stop.vertrek %}
                              <li class="collection-item">Vertrek om {{ stop.vertrek }} {% if stop.vertragingVertrek == 0 %}{% else %}<b class="red-text">+{{ stop.vertragingVertrek }}</b>{% endif%}</li>
                            {%endif%}
                        </div>
                      </ul>
                    {%endfor%}
              </p>
              {% endif %}
            {%endfor%}
        </div>
      </div>

    </div>
  </div>

    <footer class="page-footer teal">
      <div class="footer-copyright">
        <div class="container">
        Made with <i class="fas fa-heart red-text"></i> by ovdingen
        <div class="right">
          <a class="white-text" href="https://github.com/ovdingen/website/blob/master/LICENSE" target="blank">GPL-3.0</a><!--  | <a class="white-text" href="https://ovdingen.nl/afbeeldingscredits.txt" target="blank">afbeeldingscredits</a> -->
        </div>
        </div>
      </div>
    </footer>
    
    <!-- Scripts-->
    <script src="/../static/js/jquery-2.1.1.min.js"></script>
    <script src="/../static/js/materialize.js"></script>
    <script src="/../static/js/init.js"></script>
    <script src="/../static/js/custom.js"></script>

    <script src="/static/js/station.js"></script>

    <script>
      // $(document).ready(function(){
      //   $('.parallax').parallax();
      // });
    // ^^ HOTFIX Voor Issue #3
    </script>

    </body>
    <!-- 
    Nee, bedankt. Ik heb geen fijne dag nodig!!!1
    -->
  </html>

