<!DOCTYPE html>
<html lang="nl">
<head>

  <!-- 
 .d88b.  db    db d8888b. d888888b d8b   db  d888b  d88888b d8b   db
.8P  Y8. 88    88 88  `8D   `88'   888o  88 88' Y8b 88'     888o  88
88    88 Y8    8P 88   88    88    88V8o 88 88      88ooooo 88V8o 88
88    88 `8b  d8' 88   88    88    88 V8o88 88  ooo 88~~~~~ 88 V8o88
`8b  d8'  `8bd8'  88  .8D   .88.   88  V888 88. ~8~ 88.     88  V888
 `Y88P'     YP    Y8888D' Y888888P VP   V8P  Y888P  Y88888P VP   V8P
                                                                    
                                                                     -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Spoor APP</title>

  <meta name="theme-color" content="#009688"/>
  <link rel="manifest" href="/../static/manifest.json">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">

  <style>
    .parallax-container {
      min-height: 250px;
      height: 250px;
    }

    .tabs .indicator {
        background-color: #009688;
    }

    .pto-logo {
        max-height: 2em;
    }

  </style>

  <!-- Google ads, de server betaald helaas zichzelf nog niet.
    Binnenkort is het mogelijk om een een (heel) klein bedrag te doneren en een donateurs account te krijgen zonder advertenties.
    Uiteraard doen wij er ook niet moeilijk over als je onze advertenties blokkeert. Wij snappen waarom en proberen uiteraard de ervaring niet te bederven.-->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8909329757157722",
            enable_page_level_ads: true
       });
  </script>

  <link rel="stylesheet" type="text/css" href="/../static/css/cookieconsent.min.css" />
  <script src="/../static/js/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#eaf7f7",
        "text": "#5c7291"
      },
      "button": {
        "background": "#009688"
      }
    },
    "position": "bottom-right",
    "content": {
      "message": "spoor.app maakt gebruik van cookies om jou de beste ervaring van de webapp te geven.",
      "link": "Lees meer"
    }
  })});
  </script>
</head>
<body>

  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">spoor.app</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
        </ul>

        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <ul id="nav-mobile" class="sidenav">
    <li><a href="/">Home</a></li>
  </ul>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h2 class="header center white-text">Dienstregeling voor<br>{{trein.soortAfk}} {{trein.id}}</h2>

      </div>
    </div>
    <!-- TODO: treintje als achtergrond?-->
    <div class="parallax"><img src="/../static/img/achtergrond.jpg" alt="sng" style="filter:grayscale(50%);"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          {% if trein == False %}
            <h4>Niet gevonden</h4>
          {% else %}
            <h4>Richting {{trein.bestemming}} via {{trein.via}}</h4>
            {%for vleugel in trein.vleugels%}
              {%for mat in vleugel.mat%}
                <!-- TODO: Afbeelding van treintype?-->
                <p class="center-align light">Type: {{mat.0}} Bestemming: {{mat.1}} Nr: {{mat.2}}</p>
              {%endfor%}
              {% if trein.opgeheven == true %}
                <h5 class="red-text">LET OP! Trein rijdt niet.</h5>
                {% else %}
              <p class="center-align light">
                    {% if cur_station_meta is defined %}
                      <ul class="collection with-header">
                        <div class="stop">
                            <li class="collection-header"><h5>{{cur_station_meta.name_long}} | Spoor: {% if trein.spoor != None %}{{ trein.spoor }}{% endif%}</h5></li>
                            {% if trein.opgeheven %}
                              <li class="collection-item"><b class="red-text"><i>LET OP! Vertrekt niet vanaf dit station</i></b></li>
                            {% endif %}
                            {% if trein.aankomst %}
                              <li class="collection-item">Aankomst om {{ trein.aankomst }}</li>
                            {%endif%}
                            {% if trein.vertrek %}
                              <li class="collection-item">Vertrek om {{ trein.vertrek }} {% if trein.vertraging != 0.0 %}<b class="red-text">+{{ vertraging }}</b>{% endif%}</li>
                            {%endif%}
                        </div>
                      </ul>
                    {% endif %}
                    {%for stop in vleugel.stopstations%}
                      <ul class="collection with-header">
                        <div class="stop">
                            <li class="collection-header"><h5>{{stop.naam}} | Spoor: {% if stop.aankomstspoor == None %}{{ stop.vertrekspoor }}{% else %}{{ stop.aankomstspoor }}{% endif%}</h5></li>
                            {% if trein.opgeheven %}
                              <li class="collection-item"><b class="red-text"><i>LET OP! Vertrekt niet vanaf dit station</i></b></li>
                            {% endif %}
                            {% if stop.aankomst %}
                              <li class="collection-item">Aankomst om {{ stop.aankomst }} {% if stop.vertragingAankomst == 0 %}{% else %}<b class="red-text">+{{ stop.vertragingAankomst }}</b>{% endif%}</li>
                            {%endif%}
                            {% if stop.vertrek %}
                              <li class="collection-item">Vertrek om {{ stop.vertrek }} {% if stop.vertragingVertrek == 0 %}{% else %}<b class="red-text">+{{ stop.vertragingVertrek }}</b>{% endif%}</li>
                            {%endif%}
                        </div>
                      </ul>
                    {%endfor%}
              </p>
              {% endif %}
            {%endfor%}
          {%endif%}
        </div>
      </div>

    </div>
  </div>

  <div class="fixed-action-btn">
    <!-- Tijdelijke pagina refresh-->
    <a class="btn-floating btn-large" onClick="window.location.reload()">
      <i class="large material-icons">refresh</i>
    </a>
  </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container white-text">
      Made with <i class="fas fa-heart red-text"></i> by <a class="white-text" href="https://ovdingen.nl" target="blank">ovdingen</a>
      <div class="right">
        <div class="hide-on-small-only">
          <a class="white-text" href="https://github.com/ovdingen/spoor.app/blob/master/LICENSE.md" target="blank">GPL-3.0</a> | {{ app_config.name }} V{{ app_config.version }}
        </div>
        <div class="hide-on-med-and-up">
          <a class="white-text" href="https://github.com/ovdingen/spoor.app/blob/master/LICENSE.md" target="blank">GPL-3.0</a> | V{{ app_config.version }}
        </div>
      </div>
      </div>
    </div>
  </footer>
    
    <!-- Scripts-->
    <script src="/../static/js/jquery-2.1.1.min.js"></script>
    <script src="/../static/js/materialize.js"></script>
    <script src="/../static/js/init.js"></script>
    <script src="/../static/js/custom.js"></script>

    <script src="/static/js/station.js"></script>

    <!-- Serviceworker-->
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/../static/js/sw.js').then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
    </script>

    <script>
      // $(document).ready(function(){
      //   $('.parallax').parallax();
      // });
    // ^^ HOTFIX Voor Issue #3
    </script>

    </body>
    <!-- 
    Nee, bedankt. Ik heb geen fijne dag nodig!!!1
    -->
  </html>

